<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Crear Paciente</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    
    <div class="d-flex justify-content-center" style="margin-top: 20px;">
        <form method="post" action="/create" id="agregar-usuario-form"class="bg-light p-3 rounded w-80" style="margin: auto;width: 50%;">
          <h3 class="mb-3">Agregar Usuario</h3>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" required>
          </div>
          <div class="form-group">
            <label for="dni">DNI:</label>
            <input type="text" class="form-control" id="dni" name="dni" required>
          </div>
          <div class="form-group">
            <label for="domicilio">Domicilio:</label>
            <input type="text" class="form-control" id="domicilio" name="domicilio" required>
          </div>
          <div class="form-group">
            <label for="domicilio">Numero De Telefono:</label>
            <input type="text" class="form-control" id="domicilio" name="telefono" required>
          </div>
          <div class="form-group">
            <label for="obra-social">Obra Social:</label>
            <input type="text" class="form-control" id="obra-social" name="obra_social" required>
          </div>
          <div class="form-group">
            <label for="obra-social">Numero de Obra Social:</label>
            <input type="text" class="form-control" id="numero-obra-social" name="numeroObraSocial" required>
          </div>
          <div class="form-group">
            <label for="fecha-nacimiento">Fecha de Nacimiento:</label>
            <input type="date" class="form-control" id="fecha-nacimiento" name="fechaDeNacimiento" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
      

</body>
</html>